.trusted-by-leading {
  width: 21.563rem;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 100%;
  font-weight: 600;
  display: inline-block;
}
.trusted-by-leading-insurance-b-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 1.312rem 0 1.25rem;
}
.mask-group-icon1 {
  position: absolute;
  top: 42.938rem;
  left: 40.938rem;
  width: 35.5rem;
  height: 19.606rem;
  object-fit: cover;
}
.image-13-icon {
  height: 2.25rem;
  width: 3.875rem;
  position: relative;
  object-fit: cover;
}
.logo-image-container {
  width: 15.875rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 1.25rem;
  box-sizing: border-box;
}
.frame-child {
  width: 18.938rem;
  height: 14.5rem;
  position: relative;
  background-color: #f3f2f2;
  display: none;
}
.frame-item,
.kickass-team {
  position: relative;
  z-index: 1;
}
.frame-item {
  width: 3.688rem;
  height: 3.688rem;
}
.kickass-team {
  margin: 0;
  flex: 1;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 2.125rem;
  font-weight: 600;
  font-family: inherit;
  white-space: pre-wrap;
}
.team-title-container {
  width: 13.313rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0.25rem;
  box-sizing: border-box;
}
.logos-container,
.rectangle-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.rectangle-parent {
  align-self: stretch;
  background-color: #f3f2f2;
  align-items: flex-start;
  padding: 1.25rem 1.125rem 1.562rem;
  gap: 5.875rem;
}
.logos-container {
  position: absolute;
  top: 0.063rem;
  left: 63.063rem;
  width: 18.938rem;
  align-items: flex-end;
  gap: 11.125rem;
}
.image-14-icon {
  height: 1.75rem;
  width: 4.75rem;
  position: relative;
  object-fit: cover;
}
.image-14-wrapper {
  width: 16.375rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 1.25rem;
  box-sizing: border-box;
}
.efficiency-title-container-child {
  width: 18.875rem;
  height: 14.5rem;
  position: relative;
  background-color: #f3f2f2;
  display: none;
}
.efficiency-title-container-item {
  width: 3.688rem;
  height: 3.688rem;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.improve-efficiency {
  margin: 0;
  width: 11.563rem;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 120%;
  font-weight: 600;
  font-family: inherit;
  white-space: pre-wrap;
  display: inline-block;
  z-index: 1;
}
.efficiency-title-container {
  align-self: stretch;
  background-color: #f3f2f2;
  padding: 1.25rem 1.25rem 1.562rem;
  gap: 3.75rem;
}
.efficiency-benefit,
.efficiency-icon-container,
.efficiency-title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.efficiency-icon-container {
  align-self: stretch;
  gap: 11.375rem;
}
.efficiency-benefit {
  width: 18.875rem;
  padding: 0.312rem 0 0;
  box-sizing: border-box;
  min-width: 18.875rem;
}
.image-12-icon,
.img-2528-2-icon {
  position: absolute;
  margin: 0 !important;
  object-fit: contain;
}
.image-12-icon {
  height: 1.25rem;
  width: 4.063rem;
  top: 0.563rem;
  right: 0;
}
.img-2528-2-icon {
  height: 2.5rem;
  width: 4rem;
  top: 0;
  left: 0;
}
.image-15-icon {
  height: 2rem;
  width: 3.5rem;
  position: relative;
  object-fit: cover;
}
.why-us-title-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 2.687rem;
}
.why-us {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 100%;
  text-transform: capitalize;
  font-weight: 600;
  font-family: inherit;
}
.why-us-title-container-parent {
  width: 12rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 6.187rem;
}
.digitization-icon-content,
.digitization-icon-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.digitization-icon-content {
  flex: 1;
  justify-content: flex-start;
  padding: 0.187rem 10.687rem 0;
  position: relative;
}
.digitization-icon-content-wrapper {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 1.437rem 0 2.062rem;
}
.engagement-icon-container-child {
  width: 19rem;
  height: 14.5rem;
  position: relative;
  background-color: #f3f2f2;
  display: none;
}
.frame-inner {
  display: none;
}
.frame-inner,
.rectangle-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  background-color: #fff;
  width: 100%;
  height: 100%;
}
.we-touch-dozens-of-lives-of-ev {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #cf67ca;
  width: 1.225rem;
  height: 1.225rem;
}
.making-real-differences-to-peo {
  position: absolute;
  top: 0.556rem;
  left: 0.775rem;
  background-color: #e297dc;
  width: 1.225rem;
  height: 1.225rem;
  z-index: 1;
}
.we-touch-dozens-of-lives-of-ev-parent {
  position: absolute;
  top: 1rem;
  left: 0.875rem;
  width: 2rem;
  height: 1.775rem;
  z-index: 1;
}
.frame-parent {
  width: 3.688rem;
  height: 3.688rem;
  position: relative;
  z-index: 1;
}
.enable-digitization {
  margin: 0;
  width: 11.563rem;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 120%;
  font-weight: 600;
  font-family: inherit;
  white-space: pre-wrap;
  display: inline-block;
  z-index: 1;
}
.engagement-icon-container {
  flex: 1;
  background-color: #f3f2f2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.25rem 1.25rem 1.562rem;
  box-sizing: border-box;
  gap: 3.75rem;
  min-width: 12.5rem;
}
.engaging-title-container-child {
  width: 19.188rem;
  height: 14.5rem;
  position: relative;
  background-color: #f3f2f2;
  display: none;
}
.engaging-title-container-item {
  width: 3.688rem;
  height: 3.688rem;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.engaging {
  margin: 0;
  width: 12.813rem;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 2.125rem;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.engaging-title-container {
  flex: 1;
  background-color: #f3f2f2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.25rem 1.25rem 1.562rem;
  box-sizing: border-box;
  gap: 5.875rem;
  min-width: 12.5rem;
}
.engagement-benefit {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 1.875rem;
  text-align: left;
  font-size: 1.75rem;
}
.digitization-icon-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 2.25rem;
  max-width: 100%;
}
.we-help-your {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 100%;
  text-transform: capitalize;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.sales-pitch-container {
  align-self: stretch;
  flex-direction: row;
  padding: 0 3.125rem 0 3rem;
  box-sizing: border-box;
}
.benefits-content,
.digitization-benefit,
.sales-pitch-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.digitization-benefit {
  flex: 1;
  flex-direction: column;
  gap: 6.875rem;
  min-width: 26.063rem;
  text-align: center;
  font-size: 2.813rem;
}
.benefits-content {
  align-self: stretch;
  flex-direction: row;
  gap: 2.125rem;
}
.improved-agent-activation {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 2.125rem;
  font-weight: 600;
  font-family: inherit;
}
.of-agents-are {
  width: 33.313rem;
  position: relative;
  font-size: 1rem;
  line-height: 140%;
  display: inline-block;
  max-width: 100%;
}
.activation-content {
  flex: 1;
  flex-direction: column;
  gap: 0.937rem;
}
.activation-content,
.activation-content-wrapper,
.benefits-content-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.activation-content-wrapper {
  width: 39rem;
  flex-direction: row;
  padding: 0 1.625rem;
  box-sizing: border-box;
}
.benefits-content-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 61.063rem;
  flex-direction: column;
  gap: 8.125rem;
}
.brand-logos {
  align-self: stretch;
  height: 62.544rem;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: 1.75rem;
  font-family: Metropolis;
}
.brand-title-container,
.brands-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.brand-title-container {
  flex: 1;
  flex-direction: column;
  gap: 3.187rem;
}
.brands-content {
  align-self: stretch;
  flex-direction: row;
  padding: 0 3.937rem 0 4.062rem;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.25rem;
  color: #000;
  font-family: "Plus Jakarta Sans";
}
@media screen and (max-width: 1050px) {
  .efficiency-benefit {
    flex: 1;
  }
  .we-help-your,
  .why-us {
    font-size: 2.25rem;
    line-height: 2.25rem;
  }
  .benefits-content {
    flex-wrap: wrap;
  }
  .brand-logos {
    height: auto;
    min-height: 1000.7;
  }
}
@media screen and (max-width: 750px) {
  .engagement-benefit {
    flex-wrap: wrap;
  }
  .digitization-benefit {
    min-width: 100%;
  }
  .brand-title-container {
    gap: 1.563rem;
  }
  .brands-content {
    padding-left: 2rem;
    padding-right: 1.938rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .trusted-by-leading {
    font-size: 1rem;
    line-height: 1rem;
  }
  .improve-efficiency,
  .kickass-team,
  .why-us {
    font-size: 1.375rem;
    line-height: 1.688rem;
  }
  .why-us {
    font-size: 1.688rem;
  }
  .enable-digitization,
  .engaging,
  .we-help-your {
    font-size: 1.375rem;
    line-height: 1.688rem;
  }
  .we-help-your {
    font-size: 1.688rem;
  }
  .improved-agent-activation {
    font-size: 1.375rem;
    line-height: 1.688rem;
  }
}
